/* Webfont: AtomicType2 */@font-face {
    font-family: 'AtomicType2';
    src: url('atomic_type_test1.eot'); /* IE9 Compat Modes */
    src: url('atomic_type_test1.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('atomic_type_test1.woff') format('woff'), /* Modern Browsers */
         url('atomic_type_test1.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

